src/main/resources/charts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Charts">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="Dashboard" name="Dashboard" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Dashboard">
        <xs:sequence>
            <xs:element type="xs:string" name="id" />
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="Chart" name="Chart" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Chart">
        <xs:sequence>
            <xs:element type="xs:string" name="id" />
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="query"/>
            <xs:element type="xs:string" name="datasource"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>